.error {
    border: 1px solid red;
}

.error__message {
    color: red;
    display: block;
}

.filter {
    padding: 5px 15px;
    border: 1px solid purple;
    background-color: cornflowerblue;
    color: antiquewhite;
}

.filter__active {
    padding: 5px 15px;
    border: 1px solid cornflowerblue;
    background-color: purple;
    color: antiquewhite;
}

.task__done {
    font-style: italic;
    text-decoration: line-through cornflowerblue;
    opacity: 0.7;
}